<h2>Change Info</h2>
<%= form_for current_admin.artist, url: { action: 'update' }, html: 
  { class: "form" } do |a| %>
  <%= render partial: 'shared/errors', 
  locals: { instance: current_admin.artist }  %>

  <%= a.label      :name %>
  <%= a.text_field :name %><br>

  <%= a.label      :email %>
  <%= a.text_field :email %><br>

  <%= a.label      :site_title %>
  <%= a.text_field :site_title %><br>

  <%= a.label      :photo %>
  <%= a.file_field :photo %><br>
 
<div class="text">
  <%= a.label      :bio %>
  <%= a.text_area :bio %><br>
</div>

<div class="submit">
  <%= a.submit 'Submit'%><br>
</div>
<% end %>
<%= link_to 'back', edit_admin_path %>
