<h3>Change Password</h3>
<%= form_for Artist.find_by_id(1), url: { action: 'update' } do |a| %>
  <%= a.label      :password, 'Current password' %>
  <%= a.text_field :password %><br>

  <%= a.label      :new_password %>
  <%= a.text_field :new_password %><br>

  <%= a.label      :password_confirmation, 'Confirm password' %>
  <%= a.text_field :password_confirmation %><br>

  <%= a.submit "Submit" %>
<% end %>
<%= link_to 'Back', edit_artist_path %>
