<h3>Change Password</h3>
<%= form_for current_admin, url: { action: 'update' } do |a| %>
  <%= render partial: 'shared/errors', locals: { instance: current_admin }  %>

  <%= a.label      :new_password %>
  <%= a.text_field :new_password %><br>

  <%= a.label      :password_confirmation, 'Confirm password' %>
  <%= a.text_field :password_confirmation %><br>

  <%= a.submit "Submit" %>
<% end %>
<%= link_to 'Back', edit_admin_path %>
