<% if signed_in? %>
<%= link_to 'Add New Artwork', new_artwork_path %>
<% end %>
<div id="gallery">
  <% @artworks.each do |artwork| %>
    <div class="art">
      <div id="<%= artwork.name %>">
        <h3><%= artwork.name %></h3><br>
        <div class="image">
          <%= link_to artwork do %>
            <%= image_tag artwork.image.url %>
          <% end %>
          <br>
        </div>
        <% if signed_in? %>
          <%= link_to 'Edit', edit_artwork_path(artwork.id) %><br>
          <%= link_to 'Delete', artwork, 
            method: 'delete', confirm: 'Are you sure?' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
